:root {
  --primary: #b6895b;
  --bg: #010101;
  --bgp: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bgp);
  color: #fff;
  min-height: 2000px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #513c28;
  border-bottom: 1px solid #513c28;
  position: fixed; /* saat di scroll tetap di atas */
  top: 0; /* space mentok full */
  left: 0;
  right: 0;
  z-index: 9999; /* nav agar stabil di atas */
}

/* mengatur logo "Wolfies Store" */
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

/* mengatur span */
.navbar .navbar-logo span {
  color: var(--primary);
}

/* mengatur navbar 1 a */
.navbar .navbar-nav a {
  color: #fff;
  font-size: 1.3rem;
  display: inline-block; /* agar nav a tetap di posisi awal tidak menurun */
  margin: 0 1rem;
  transition: 0.5s;
}

/* mengatur nav ketika di hover */
.navbar .navbar-nav a:hover {
  opacity: 0.3;
  transition: 0.5s;
}

/* mengatur icon */
.navbar .navbar-extra {
  display: none;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Content Section */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: black;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3em;
  text-shadow: 1px 0px 3px rgba(1, 1, 3, 0.3);
  line-height: 1.2;
}

.hero .content h1 span {
  color: #b6895b;
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  line-height: 1.4;
}

/* Section About Tentang Kami */

.about,
.menu {
  padding: 8rem 7% 1.4rem;
  color: black;
}

.about h2,
.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  list-style: none;
}

/* Section Feedback */

.feedback {
  color: #000;
  text-align: center;
  padding: 8rem 7% 1.4rem;
}

.feedback h2 {
  font-size: 2.6rem;
  margin-bottom: 1.6rem;
}

.feedback h2 span {
  color: var(--primary);
}

.feedback .row .box-content {
  margin-top: 3.6rem;
}

.snip1533 .fill-star-full-feedback {
  margin-bottom: 10px;
  color: var(--primary);
  fill: var(--primary);
}

/* Feedback Quete Start */
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  margin: 35px 10px 10px;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid var(--primary);
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
  color: #d2652d;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}
/* Feedback Qute end */

/* product section */

.menu {
  color: #000;
}

.menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1.4rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  color: white;
  text-align: center;
  padding-bottom: 30px;
  margin: 10px;
  border: 1px solid #513c28;
  border-radius: 20px;
  background-color: #513c28;
  transition: transform 0.3s;
  cursor: pointer;
}

.menu .row .menu-card:hover {
  transform: translateY(-10px);
}

.menu .row .menu-card img {
  margin-top: 30px;
  border-radius: 20%;
  width: 50%;
}

.menu .row .menu-card-title {
  margin: 1.5rem auto 0.5rem;
}

.menu .row .menu-card .menu-card-price {
  margin-bottom: 10px;
}

.menu .row .menu-card .btn-menu {
  color: white;
  padding: 10px;
  background-color: var(--primary);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.menu .row .menu-card .btn-menu:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.menu .row .menu-card .fill-star {
  color: var(--primary);
}

.menu .row .menu-card .fill-star-full {
  color: var(--primary);
  fill: var(--primary);
}

/* testing pop up */
.popup {
  color: #000;
  display: none; /* Pop-up akan disembunyikan secara default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Latar belakang semi-transparan */
}

.popup .popup-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  height: 450px; /* Ubah tinggi sesuai kebutuhan Anda */
  overflow-y: auto; /* Tambahkan overflow-y untuk mengaktifkan scroll jika kontennya lebih panjang */
  margin-bottom: 70px; /* Tambahkan margin-bottom untuk memperpanjang kotak ke bawah */
  animation: fadeIn 0.5s ease;
}

.popup .popup-content p {
  padding-bottom: 20px;
  font-size: 1rem;
}
/* var span css */

.popup .popup-content .desc-var {
  color: #513c28;
  font-weight: bold;
}

.popup-content h2 {
  margin-bottom: 10px;
}

.popup-content p span {
  color: var(--primary);
  font-weight: bold;
}

.popup .popup-content .btn-popup {
  background-color: var(--primary);
  color: white;
  padding: 13px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.popup .popup-content .btn-popup:hover {
  opacity: 0.6;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Payment Div */

.popup .popup-content .payment {
  display: flex;
  margin-top: 5px;
}

.popup .popup-content .payment-logo {
  margin-left: 10px;
  height: 24px;
  margin-top: px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* footer */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
  font-size: 1rem;
}

/* media quaries */
/* Laptop Dan PC */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 794px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0%;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-extra .hidden-logo {
    display: none;
  }

  .navbar .navbar-extra {
    display: block;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .content p,
  .menu {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.3rem;
  }

  .popup .popup-content {
    height: 340px;
    width: 90%;
    border-radius: 10px;
  }

  .popup .popup-content .payment-logo {
    margin-left: 10px;
    height: 15px;
  }
}

/* HP */
@media (max-width: 450px) {
  html {
    font-size: 60%;
  }
  .menu p {
    font-size: 1.4rem;
  }

  .navbar .navbar-extra {
    display: block;
  }

  .popup .popup-content {
    height: 345px;
    width: 90%;
    border-radius: 10px;
  }

  .popup .popup-content .btn-popup {
    font-size: 10px;
    padding: 10px;
  }

  .popup .popup-content .payment-logo {
    margin-left: 10px;
    height: 14px;
  }

  .feedback {
    padding: 8rem 7% 1.4rem;
  }

  .feedback h2 {
    margin-top: 80px;
  }

  .feedback p {
    font-size: 1.4rem;
  }
}

/* My Old Oppo Device */
@media (max-width: 360px) {
  .popup .popup-content .payment-logo {
    height: 10px;
  }

  .navbar .navbar-extra .hidden-logo {
    display: none;
  }

  .popup .popup-content {
    overflow: hidden;
  }
}
